/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */
a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: 12px;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/*==========*/
* {
    color: white;
    background-color: #1e1e1e;
    text-transform: uppercase;
    font-family: "PT Mono";
    letter-spacing: 0.35em;
    font-size: 12px;
    font-weight: 400;
}

body {
    margin: 20px;
}

nav {
    /*text-decoration: underline;*/
    display: flex;
    justify-content: space-between;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
}

.item1 {
    grid-column: col-start / span 6;
}

main .wrapper .item1 {
    grid-column: col-start / span 1;
}

.projects .wrapper .item1 {
    grid-column: col-start / span 1;
}

.contacts .wrapper .item7 {
    grid-column: col-start 7 / span 1;
}

footer .wrapper .item1 {
    grid-column: col-start 1 / span 6;
}

.item3 {
    grid-column: col-start 3 / span 1;
}

.item5 {
    grid-column: col-start 5 / span 1;
}

.item7 {
    grid-column: col-start 7 / span 6;
}

.item11 {
    grid-column: col-start 11 / span 2;
}

.item7 img {
    border-radius: 20px;
}

header {
    height: 50vh;
    /*min 940px media-screen*/
}

main {
    height: 50vh;
}

main .wrapper .item3 {
    grid-column: col-start 3 / span 3;
}

.about_me_text_area {
    line-height: 18px;
}

.about_me_text_area h3, p{
    padding-top: 10px;
}

.skills_text_area {
    line-height: 18px;
}

section {
    height: 50vh;
}

.projects .item1 {
    padding-top: 20px;
}

.projects .item3 {
    padding-top: 20px;
}
.projects .item5 {
    padding-top: 20px;
}

.projects .wrapper {
    height: 80vh;
}

.projects .wrapper:last-child {
    height: 97vh;
}

.contacts {
    height: 90vh;
}

.contacts_text_area {
    line-height: 18px;
}

